body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  border-bottom: 3px solid #807d7d;


}

h1, h2 {
  color: #ffffff;
}

input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #1DA1F2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0d8cd2;
}

a {
  color: #1DA1F2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Hide spinner buttons for number inputs in all browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide calendar picker for date inputs in WebKit browsers */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Hide spinner buttons for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Hide inner spin button for other browsers */
input[type="number"] {
    appearance: none;
}